{% extends "base.html" %}
{% block content %}
<br><br><br><br><br><br>
<div >
    <div class="centered-form-container">
        <h2 class="text-center text-3xl font-extrabold text-gray-900 mb-6">Register an account</h2>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div class="space-y-4">
                <div>
                    {{ form.username.label(class="sr-only") }}
                    {{ form.username(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder="Username") }}
                </div>
                <div>
                    {{ form.email.label(class="sr-only") }}
                    {{ form.email(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder="Email address") }}
                </div>
                <div>
                    {{ form.password.label(class="sr-only") }}
                    {{ form.password(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder="Password") }}
                </div>
                <div>
                    {{ form.confirm_password.label(class="sr-only") }}
                    {{ form.confirm_password(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder="Confirm Password") }}
                </div>
            </div>
            <div class="mt-6">
                {{ form.submit(class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") }}
            </div>
        </form>
        <p class="mt-6 text-center text-sm text-gray-600">
            Already have an account?
            <a href="{{ url_for('auth.login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                Sign in
            </a>
        </p>
    </div>
</div>
{% endblock %}
